---
---
<h2 class="reference-heading">How to Use Pricing Models</h2>
<section>
  <p>By default, when Services are created they have Activity pricing if no PricingModel is specified.  Activity pricing means the Service must be offered at no charge.  If we want to charge for our new Service, let’s create an appropriate PricingModel.</p>
  <p>You can find a discussion of all currently available Pricing Models under <a ui-sref="types_of_pricing_models">Types of Pricing Models</a>.</p>
  <p>For the full list of Pricing Model creation parameters see <a ui-sref="pricing_models({'#' : 'post_pricing_models_new'})">POST /pricing_models/new</a>.</p>
</section>
<hr />
<section class='anchor-container push-down'>
  <h4>Create a Pricing Model and associate with Service</h4>
  <p>Below, we create a PricingModel of type ByTheHour and associate it with our Service.  A ByTheHour PricingModel allows one to specify how much to charge per hour for the Service booked.</p>
  <p>Here is a sample POST request to create a ByTheHour PricingModel:</p>
  <h3 class="dark-blue">Request:</h3>
{% highlight ruby %}
https://beta.gonebusy.com/api/v1/pricing_models/new.json
{% endhighlight %}
  <p>with POST body:</p>
{% highlight ruby %}
  "type": "ByTheHour",
  "price": 50.0,
  "name": "Tutoring Hourly Rate",
  "notes": "Only portions of an hour are billed."
{% endhighlight %}
  <h3 class='dark-blue push-down'>Response:</h3>
{% highlight ruby %}
  "Status": "201 Created"

  {
    "pricing_model": {
      "id": 126,
      "owner_id": 54,
      "name": "Tutoring Hourly Rate",
      "price": 50.0,
      "currency": "USD",
      "notes": "Only portions of an hour are billed.",
      "pricing_model_type": "ByTheHour"
    }
  }
{% endhighlight %}
  <p>We can now assign our recently created Service to this PricingModel using the ID of the PricingModel we just created:</p>
  <h3 class="dark-blue">Request:</h3>
{% highlight ruby %}
https://beta.gonebusy.com/api/v1/services/4183.json
{% endhighlight %}
  <p>with PUT body:</p>
{% highlight ruby %}
  "price_model_id": "126"
{% endhighlight %}
  <h3 class='dark-blue push-down'>Response:</h3>
{% highlight ruby %}
  "Status": "200 OK"

  {
    "service": {
      "id": 4183,
      "owner_id": 54,
      "resources": [ 267 ],
      "name": "LSAT/MCAT Tutoring",
      "short_name": null,
      "duration": 60,
      "description": "Tutoring for LSAT or MCAT exams. Available by the hour.",
      "price_model_id": 126,
      "is_active": true,
      "categories": [ 23 ]
    }
  }
{% endhighlight %}
</section>
