---
---
<h2 class="reference-heading">How to Use Pricing Models</h2>
<section>
  <p>Getting started using the API to make a User with Services that are advertised on GoneBusy can be done in as few as 4 steps.  Use this walk-through to get up and running:</p>
</section>
<hr />
<section class='anchor-container push-down' id='step_3_2'>
  <h4>Step 3.2 - (Optional) Associate a Price Model with Service</h4>
  <p>The Service created in Step 3 above was not Associated with a PricingModel during creation.  Recall that a Service defaults to having Activity pricing if no PricingModel is specified, which means it must be offered at no charge.  If we want to charge for our new Service, let’s create an appropriate PricingModel and associate it with our Service.</p>
  <p>Here is a sample POST request to create a PricingModel:</p>
  <h3 class="green">Request:</h3>
{% highlight ruby %}
http://beta.gonebusy.com/api/v1/pricing_models/new.json
{% endhighlight %}
  <p>with POST body:</p>
{% highlight ruby %}
  "type": "ByTheHour",
  "price": 50.0,
  "name": "Tutoring Hourly Rate",
  "notes": "Applies to LSAT, MCAT, SAT as well"
{% endhighlight %}
  <h3 class='green push-down'>Response:</h3>
{% highlight ruby %}
  "Status": "201 Created"

  {
    "pricing_model": {
      "id": 126,
      "owner_id": 54,
      "name": "Tutoring Hourly Rate",
      "price": 50.0,
      "currency": "USD",
      "notes": "Applies to LSAT, MCAT, SAT as well",
      "pricing_model_type": "ByTheHour"
    }
  }
{% endhighlight %}
  <p>We can now assign our recently created Service to this PricingModel using the ID of the PricingModel we just created:</p>
  <h3 class="green">Request:</h3>
{% highlight ruby %}
http://beta.gonebusy.com/api/v1/services/4183.json
{% endhighlight %}
  <p>with PUT body:</p>
{% highlight ruby %}
  "price_model_id": "126"
{% endhighlight %}
  <h3 class='green push-down'>Response:</h3>
{% highlight ruby %}
  "Status": "200 OK"

  {
    "service": {
      "id": 4183,
      "owner_id": 54,
      "resources": [ 267 ],
      "name": "LSAT/MCAT Tutoring",
      "short_name": null,
      "duration": 60,
      "description": "Tutoring for LSAT or MCAT exams. Available by the hour.",
      "price_model_id": 126,
      "is_active": true,
      "categories": [ 23 ]
    }
  }
{% endhighlight %}
</section>
