---
---
<h2 class="reference-heading">Getting Started</h2>
<section>
  <p>Getting started using the API to make a User with Services that are advertised on GoneBusy can be done in as few as 5 steps.  Use this walk-through to get up and running:</p>
  <h5 class="push-down">
    <a ui-sref="getting_started({'#' : 'step_1'})">Step 1 - Obtain an API Key</a>
  </h5>
  <h5>
    <a ui-sref="getting_started({'#' : 'step_2'})">Step 2 - Create a User</a>
  </h5>
  <h5>
    <a ui-sref="getting_started({'#' : 'step_3'})">Step 3 - Create a Service</a>
  </h5>
  <h6 class='indent'>
    <a ui-sref="getting_started({'#' : 'step_3_1'})">Step 3.1 - (Optional) Create a Category and associate with Service</a>
  </h6>
  <h6 class='indent'>
    <a ui-sref="getting_started({'#' : 'step_3_2'})">Step 3.2 - (Optional) Associate a Price Model with Service</a>
  </h6>
  <h5>
    <a ui-sref="getting_started({'#' : 'step_4'})">Step 4 - Create a Schedule for the new Service</a>
  </h5>
  <h5>
    <a ui-sref="getting_started({'#' : 'step_5'})">Step 5 - Check your work!</a>
  </h5>
</section>
<hr />
<section class='protip'>
  <h3 class='green'>We have a Sandbox to play in!</h3>
  <p>If you're just starting out with the API and are worried about making any mistakes or lasting changes to your Live account, we've created a completely separate Sandbox environment for you to play with.</p>
  <p>Just use <b class='dark-green-link'>sandbox.gonebusy.com</b> below instead of the Live <b class='dark-green-link'>beta.gonebusy.com</b> site, including where you login to retrieve your API key.</p>
  <p>Have fun!</p>
</section>
<section class='anchor-container' id='step_1'>
  <h4>Step 1 - Obtain an API Key</h4>
  <p>To obtain an API Key, you must be registered as a GoneBusy User.</p>
  <ul>
    <li><p>From your user dashboard, find the "API Key" tab on the left-hand navigation bar.</p></li>
    <li><p>After agreeing to the Terms & Conditions of API access and usage, you will be issued an API Key.</p></li>
    <li><p>Keep this Key private.  If you lose the Key, or feel it has been compromised, you can request another Key, which will make any previous keys invalid.</p></li>
    <li><p>Use the Key to construct an Authorization header for every request.</p></li>
  </ul>
  <p>Example Authorization header:</p>
{% highlight ruby %}
  "Authorization": "Token ac98ed08b5b0a9e7c43a233aeba841ce"
{% endhighlight %}
</section>
<section class='anchor-container push-down' id='step_2'>
  <h4>Step 2 - Create a User</h4>
  <p>Once registered with GoneBusy your own User account has been created for you.  As a Pro User, you can now make changes via API to your own User account as well as create/update other User accounts.</p>
  <p>For any User accounts that you create via API, you are the <a href='/faqs/account_management/basic_pro_account_manager'>Account Manager</a> for those User accounts.  Likewise, any User account created via API could also (after upgrading to a Pro account) obtain their own API Key and manage their own account as well as any additional User accounts that they create via the API.</p>
  <p>Here is a sample POST request to create a new User:</p>
  <section class='protip'>
    <p><b class='dark-green-link'>Remember:</b> Substitute <b class='dark-green-link'>sandbox.gonebusy.com</b> below if you are using the Sandbox.</p>
  </section>
  <h3 class='green'>Request:</h3>
{% highlight ruby %}
http://beta.gonebusy.com/api/v1/users/new.json
{% endhighlight %}
  <p>with POST body:</p>
{% highlight ruby %}
  "email" : "tutor@youremail.com",
  "first_name" : "Private",
  "last_name": "Tutor",
  "business_name": "Tutors-R-Us",
  "external_url": "tutors-r-us.sample.biz",
  "timezone": "EST"
{% endhighlight %}
  <h3 class='green push-down'>Response:</h3>
  <p>Here is the response to the request, note the ID of our new User:</p>
{% highlight ruby %}
  "Status": "201 Created"

  {
    "user": {
      "id": 54,
      "email": "tutor@youremail.com",
      "first_name": "Private",
      "last_name": "Tutor",
      "disabled": false,
      "business_name": "Tutors-R-Us",
      "external_url": "tutors-r-us.sample.biz",
      "permalink": null,
      "timezone": "EST",
      "created_at": "2014-10-04T19:46:26Z",
      "updated_at": "2014-10-04T19:46:26Z",
      "resource_id": 267,
      "account_manager_id": 22,
      "address": null
    }
  }
{% endhighlight %}
</section>
<section class='anchor-container push-down' id='step_3'>
  <h4>Step 3 - Create a Service/Activity</h4>
  <p>Now that your User has been created, let’s create our first Service/Activity that this User will offer.  Note that specifying Resources that provide a Service/Activity is optional at creation time – if none are provided the default behavior is to create the Service/Activity for the current API User’s Resource ID.</p>
  <p>Here is a sample POST request to create a Service for our sample User:</p>
  <h3 class="green">Request:</h3>
{% highlight ruby %}
http://beta.gonebusy.com/api/v1/services/new.json
{% endhighlight %}
  <p>with POST body:</p>
{% highlight ruby %}
  "user_id": 54,
  "name": "LSAT/MCAT Tutoring",
  "description": "Tutoring for LSAT or MCAT exams. Available by the hour.",
  "duration": 60
{% endhighlight %}
  <h3 class='green push-down'>Response:</h3>
{% highlight ruby %}
  "Status": "201 Created"

  {
    "service": {
      "id": 4183,
      "owner_id": 54,
      "resources": [ 267 ],
      "name": "LSAT/MCAT Tutoring",
      "short_name": null,
      "duration": 60,
      "description": "Tutoring for LSAT or MCAT exams. Available by the hour.",
      "price_model_id": null,
      "is_active": true,
      "categories": [ ]
    }
  }
{% endhighlight %}
</section>
<section class='anchor-container push-down' id='step_3_1'>
  <h4>Step 3.1 - (Optional) Create a Category and associate with Service</h4>
  <p>The Service/Activity created in Step 3 above was not Associated with any Categories during creation.  We could have searched for Categories that already exist in the system and then specified the IDs of Categories at the time of Service/Activity creation.  We can also make our own Category as follows.</p>
  <p>Here is a sample POST request to create a Category:</p>
  <h3 class="green">Request:</h3>
{% highlight ruby %}
http://beta.gonebusy.com/api/v1/categories/new.json
{% endhighlight %}
  <p class='code request indent'></p>
  <p>with POST body:</p>
{% highlight ruby %}
  "name" : "Graduate School Exam Preparation",
  "description" : "Services related to preparing for graduate-level entrance exams such as LSAT, MCAT, etc."
{% endhighlight %}
  <h3 class='green push-down'>Response:</h3>
{% highlight ruby %}
  "Status": "201 Created"

  {
    "category": {
      "id": 23,
      "name": "Graduate School Exam Preparation",
      "short_name": null,
      "long_name": null,
      "description": "Service related to preparing for graduate-level entrance exams such as LSAT, MCAT, etc.",
      "parent_category_id": null,
      "is_active": true,
      "subcategories": [ ]
    }
  }
{% endhighlight %}
  <p>We can now assign our recently created Service to this Category.  You can assign multiple Categories at once with a comma-delimited list of Category IDs, or just provide a single Category ID.</p>
  <h3 class="green">Request:</h3>
{% highlight ruby %}
http://beta.gonebusy.com/api/v1/services/4183.json
{% endhighlight %}
  <p>with PUT body:</p>
{% highlight ruby %}
  "categories" : "[ 23 ]"
{% endhighlight %}
  <h3 class='green push-down'>Response:</h3>
{% highlight ruby %}
  "Status": "200 OK"

  {
    "service": {
      "id": 4183,
      "owner_id": 54,
      "resources": [ 267 ],
      "name": "LSAT/MCAT Tutoring",
      "short_name": null,
      "duration": 60,
      "description": "Tutoring for LSAT or MCAT exams. Available by the hour.",
      "price_model_id": null,
      "is_active": true,
      "categories": [ 23 ]
    }
  }
{% endhighlight %}
</section>
<section class='anchor-container push-down' id='step_3_2'>
  <h4>Step 3.2 - (Optional) Associate a Price Model with Service</h4>
  <p>The Service created in Step 3 above was not Associated with a PricingModel during creation.  Recall that a Service defaults to having “Activity” pricing if no PricingModel is specified, which means it must be offered at no charge.  If we want to charge for our new Service, let’s create an appropriate PricingModel and associate it with our Service.</p>
  <p>Here is a sample POST request to create a PricingModel:</p>
  <h3 class="green">Request:</h3>
{% highlight ruby %}
http://beta.gonebusy.com/api/v1/pricing_models/new.json
{% endhighlight %}
  <p>with POST body:</p>
{% highlight ruby %}
  "type": "ByTheHour",
  "price": 50.0,
  "name": "Tutoring Hourly Rate",
  "notes": "Applies to LSAT, MCAT, SAT as well"
{% endhighlight %}
  <h3 class='green push-down'>Response:</h3>
{% highlight ruby %}
  "Status": "201 Created"

  {
    "pricing_model": {
      "id": 126,
      "owner_id": 54,
      "name": "Tutoring Hourly Rate",
      "price": 50.0,
      "currency": "USD",
      "notes": "Applies to LSAT, MCAT, SAT as well",
      "pricing_model_type": "ByTheHour"
    }
  }
{% endhighlight %}
  <p>We can now assign our recently created Service to this PricingModel using the ID of the PricingModel we just created:</p>
  <h3 class="green">Request:</h3>
{% highlight ruby %}
http://beta.gonebusy.com/api/v1/services/4183.json
{% endhighlight %}
  <p>with PUT body:</p>
{% highlight ruby %}
  "price_model_id": "126"
{% endhighlight %}
  <h3 class='green push-down'>Response:</h3>
{% highlight ruby %}
  "Status": "200 OK"

  {
    "service": {
      "id": 4183,
      "owner_id": 54,
      "resources": [ 267 ],
      "name": "LSAT/MCAT Tutoring",
      "short_name": null,
      "duration": 60,
      "description": "Tutoring for LSAT or MCAT exams. Available by the hour.",
      "price_model_id": 126,
      "is_active": true,
      "categories": [ 23 ]
    }
  }
{% endhighlight %}
</section>
<section class='anchor-container push-down' id='step_4'>
  <h4>Step 4 - Create a Schedule for the new Service</h4>
  <p>Now that a new User and Service have been created, we need to create a Schedule that specifies when the Service will be offered by the new User.  Note that without an explicit <b>resource_id</b> passed, the default resource of our new User will be assigned the new Schedule.</p>
  <p>Let’s create the following Schedule for our “LSAT/MCAT Tutoring” Service:</p>
  <p><em><b>“Starting November 1st until January 31st, available every Monday, Wednesday, Friday from 4pm to 11pm”</b></em></p>
  <p>A Schedule is made up of many TimeWindows but for convenience it is encouraged to create a Schedule by passing parameters that will also create the first TimeWindow in addition to the new Schedule.  The following POST request to create a Schedule will also create a TimeWindow that corresponds to the above availability:</p>
  <h3 class="green">Request:</h3>
{% highlight ruby %}
http://beta.gonebusy.com/api/v1/schedules/new.json
{% endhighlight %}
  <p>with POST body:</p>
{% highlight ruby %}
  "service_id": 4183,
  "user_id": 54,
  "start_date": "2014-11-01",
  "end_date": "2015-01-31",
  "start_time": "4pm",
  "end_time": "11pm",
  "recurs_by": "weekly",
  "days": ["monday", "wednesday", "friday"]
{% endhighlight %}
  <h3 class='green push-down'>Response:</h3>
{% highlight ruby %}
  "Status": "201 Created"

  {
    "schedule": {
      "id": 8090,
      "owner_id": 54,
      "service_id": 4183,
      "resource_id": 267,
      "time_windows": [
        {
          "id": 10536,
          "start_date": "2014-11-01",
          "end_date": "2015-01-31",
          "start_time": "4pm",
          "end_time": "11pm",
          "total_minutes": 420,
          "recurs_by": "weekly",
          "days": ["monday", "wednesday", "friday"],
          "frequency": "every",
          "occurrence": "every",
          "date_recurs_by": null,
          "negation": false
        }
      ]
    }
  }
{% endhighlight %}
</section>
<section class='anchor-container push-down' id='step_5'>
  <h4>Step 5 - Check your work!</h4>
  <p>Now that our Schedule has been created for our “LSAT/MCAT Tutoring” Service, lets check what our available bookable time slots are on November 3rd:</p>
  <h3 class="green">Request:</h3>
{% highlight ruby %}
GET http://beta.gonebusy.com/api/v1/services/4183/available_slots.json?date=11-03-2014
{% endhighlight %}
  <h3 class='green push-down'>Response:</h3>
{% highlight ruby %}
  "Status": "200 OK"

  {
    "service": {
      "id": 4183,
      "owner_id": 54,
      "resources": [
        {
          "id": 267,
          "available_slots": [
            {
              "date": "2014-11-03",
              "slots": [ "2014-11-03T16:00:00Z", "2014-11-03T16:15:00Z",
                "2014-11-03T16:30:00Z", "2014-11-03T16:45:00Z",
                "2014-11-03T17:00:00Z", "2014-11-03T17:15:00Z",
                "2014-11-03T17:30:00Z", "2014-11-03T17:45:00Z",
                "2014-11-03T18:00:00Z", "2014-11-03T18:15:00Z",
                "2014-11-03T18:30:00Z", "2014-11-03T18:45:00Z",
                "2014-11-03T19:00:00Z", "2014-11-03T19:15:00Z",
                "2014-11-03T19:30:00Z", "2014-11-03T19:45:00Z",
                "2014-11-03T20:00:00Z", "2014-11-03T20:15:00Z",
                "2014-11-03T20:30:00Z", "2014-11-03T20:45:00Z",
                "2014-11-03T21:00:00Z", "2014-11-03T21:15:00Z",
                "2014-11-03T21:30:00Z", "2014-11-03T21:45:00Z",
                "2014-11-03T22:00:00Z" ]
            }
          ]
        }
      ]
    }
  }
{% endhighlight %}
</section>
