---
---
<h2 class="reference-heading">Manage Schedules</h2>
<section>
  <p>Schedules are used to specify when a <a ui-sref="entities({'#' : 'services'})">Service</a> is offered by a <a ui-sref="entities({'#' : 'resources'})">Resource</a>.</p>
  <p>How you define a Schedule is no different from other types of schedules you may have encountered: they start on a date, at a particular time, may end on a date, or possibly repeat indefinitely, and end at a particular time.  They can fall on particular days of the week and repeat daily, weekly, monthly, yearly even.  You can also specify that a Schedule is available the first Monday of the month, or every other Friday, etc.</p>
  <p>When modifying Schedules, such as adding only one available weekend a month to an existing weekday schedule, you will work with TimeWindows.  TimeWindows are just small pieces that together make up the entire availability of a Schedule.  In fact when first creating a Schedule, a TimeWindow is automatically created for you.</p>
  <h5 class="push-down">
    <a ui-sref="manage_schedules({'#' : 'creation_examples'})">Schedule Creation Examples</a>
  </h5>
  <h5>
    <a ui-sref="manage_schedules({'#' : 'add_timewindow'})">Adding TimeWindows to a Schedule</a>
  </h5>
  <h5>
    <a ui-sref="examples_frequency">Examples of Frequency</a>
  </h5>
  <h5>
    <a ui-sref="examples_recurs_by">Examples of Recurs By</a>
  </h5>
  <h5>
    <a ui-sref="examples_occurrence">Examples of Occurrence</a>
  </h5>
</section>
<hr/>
<section class='anchor-container push-down' id='creation_examples'>
  <h4>Schedule Creation Examples</h4>
</section>
<section class='anchor-container' id='add_timewindow'>
  <h4>Adding TimeWindows to a Schedule</h4>
</section>
