---
---
<h2 class="reference-heading">Overview</h2>
<section>
  <p>The world of GoneBusy revolves around:
    <ul>
      <li><p><a ui-sref="users">Users</a> &ndash; a Person or Business registered to use, or managed by, the API</p></li>
      <li><p>A User's <a ui-sref="resources">Resources</a> &ndash; such as Meeting Rooms, Equipment, individual Staff members, etc.</p></li>
      <li><p>The <a ui-sref="services">Services</a> offered by Resources &ndash; "Weekly Status Meeting", "Guitar Lessons", "Rent My Parking Space", etc.</p></li>
      <li><p>The <a ui-sref="schedules">Schedules</a> of Services.</p></li>
      <li><p>The <a ui-sref="bookings">Booking</a> of a Service at a particular time</p></li>
      <li><p><a ui-sref="search">Search</a> for available Services.</p></li>
    </ul>
  </p>
  <p class='extra-bottom'>The GoneBusy API allows you to programmatically create and manage all of the above items as well as more advanced features such as <a ui-sref="categories">Categories</a> and <a ui-sref="pricing_models">Pricing Models</a>.</p>
  <p>Continue reading below to learn about:</p>
</section>
<section>
  <br/>
  <h3><a ui-sref="quick_start">Quick Start</a></h3>
  <h3><a ui-sref="overview({'#' : 'access'})">Gaining Access to the API</a></h3>
  <h3><a ui-sref="overview({'#' : 'manager'})">Account Manager</a></h3>
</section>
<hr />
<section class='anchor-container push-down' id='access'>
  <h4>Gaining Access to the API</h4>
  <p>All Users automatically gain access to the GoneBusy API.  The API allows for the creation and management of the User’s Resources, Services, Schedules and Bookings.</p>
  <p>The API Key for access can be found under the "API Key" menu option on the User's dashboard.</p>
</section>
<section class='anchor-container push-down' id='manager'>
  <h4>Account Manager</h4>
  <p>The API allows creation of other User accounts for which the User becomes the defacto Account Manager.  The Account Manager User can then create and manage Resources, Services, and Schedules of the Users for which they are the Account Manager.  Account Managers have only limited access to manage the Bookings of their managed Users.</p>
</section>
