---
---
<h2 class="reference-heading">Quick Start</h2>
<section>
  <p>Getting started using the API to make a User with Services that are advertised on GoneBusy can be done in as few as 4 steps.  Use this walk-through to get up and running:</p>
  <h5 class="push-down">
    <a ui-sref="quick_start({'#' : 'step_1'})">Step 1 &ndash; Obtain an API Key</a>
  </h5>
  <h5>
    <a ui-sref="quick_start({'#' : 'step_2'})">Step 2 &ndash; Create a Service</a>
  </h5>
  <h5>
    <a ui-sref="quick_start({'#' : 'step_3'})">Step 3 &ndash; Create a Schedule for the new Service</a>
  </h5>
  <h5>
    <a ui-sref="quick_start({'#' : 'step_4'})">Step 4 &ndash; Check available time slots!</a>
  </h5>
</section>
<hr />
<section class='protip'>
  <h3 class='green'>We have a Sandbox to play in!</h3>
  <p>If you're just starting out with the API and are worried about making any mistakes or lasting changes to your Live account, we've created a completely separate Sandbox environment for you to play with.</p>
  <p>Just use <b class='dark-green-link'>sandbox.gonebusy.com</b> below instead of the Live <b class='dark-green-link'>beta.gonebusy.com</b> site, including where you login to retrieve your API key.</p>
  <p>Have fun!</p>
</section>
<section class='anchor-container' id='step_1'>
  <h4>Step 1 &ndash; Obtain an API Key</h4>
  <p>To obtain an API Key, you must be registered as a GoneBusy User.</p>
  <ul>
    <li><p>From your user dashboard, find the "API Key" tab on the left-hand navigation bar.</p></li>
    <li><p>After agreeing to the Terms & Conditions of API access and usage, you will be issued an API Key.</p></li>
    <li><p>Keep this Key private.  If you lose the Key, or feel it has been compromised, you can request another Key, which will make any previous keys invalid.</p></li>
    <li><p>Use the Key to construct an Authorization header for every request.</p></li>
  </ul>
  <p>Example Authorization header:</p>
{% highlight ruby %}
  "Authorization": "Token ac98ed08b5b0a9e7c43a233aeba841ce"
{% endhighlight %}
</section>
<section class='anchor-container push-down' id='step_2'>
  <h4>Step 2 &ndash; Create a Service</h4>
  <p>Now that your User has been created, let’s create our first Service that this User will offer.</p>
  <p>Without optional parameters, the created Service is associated with the current User’s default Resource.  For more information on the Resource associated with a User, see <a ui-sref="entities({'#' : 'resources'})">Resources</a>.  For the full list of Service creation parameters see <a ui-sref="services({'#' : 'post_services_new'})">POST /services/new</a>.</p>
  <p>Here is a sample POST request to create a Service for our sample User:</p>
  <h3 class="green">Request:</h3>
{% highlight ruby %}
http://beta.gonebusy.com/api/v1/services/new.json
{% endhighlight %}
  <p>with POST body:</p>
{% highlight ruby %}
  "name": "LSAT/MCAT Tutoring",
  "description": "Tutoring for LSAT or MCAT exams. Available by the hour.",
  "duration": 60
{% endhighlight %}
  <h3 class='green push-down'>Response:</h3>
{% highlight ruby %}
  "Status": "201 Created"

  {
    "service": {
      "id": 4183,
      "owner_id": 54,
      "resources": [ 267 ],
      "name": "LSAT/MCAT Tutoring",
      "short_name": null,
      "duration": 60,
      "max_duration": 60,
      "description": "Tutoring for LSAT or MCAT exams. Available by the hour.",
      "price_model_id": null,
      "is_active": true,
      "categories": [ ]
    }
  }
{% endhighlight %}
</section>
<section class='anchor-container push-down' id='step_3'>
  <h4>Step 3 &ndash; Create a Schedule for the new Service</h4>
  <p>Now that a new Service has been created, we need to create a Schedule that specifies when the Service will be offered by our current API User.</p>
  <p>Without optional parameters, the default Resource of our current User will be assigned the new Schedule.  For more information on the Resource associated with a User, see <a ui-sref="entities({'#' : 'resources'})">Resources</a>.  For the full list of Schedule creation parameters see <a ui-sref="schedules({'#' : 'post_schedules_new'})">POST /schedules/new</a>.</p>
  <p>Let’s create the following Schedule for our “LSAT/MCAT Tutoring” Service:</p>
  <p><em><b>“Starting November 1st until January 31st, available every Monday, Wednesday, Friday from 4pm to 11pm”</b></em></p>
  <p>A Schedule is made up of many TimeWindows but for convenience it is encouraged to create a Schedule by passing parameters that will also create the first TimeWindow in addition to the new Schedule.  The following POST request to create a Schedule will also create a TimeWindow that corresponds to the above availability:</p>
  <h3 class="green">Request:</h3>
{% highlight ruby %}
http://beta.gonebusy.com/api/v1/schedules/new.json
{% endhighlight %}
  <p>with POST body:</p>
{% highlight ruby %}
  "service_id": 4183,
  "start_date": "2014-11-01",
  "end_date": "2015-01-31",
  "start_time": "4pm",
  "end_time": "11pm",
  "recurs_by": "weekly",
  "days": ["monday", "wednesday", "friday"]
{% endhighlight %}
  <h3 class='green push-down'>Response:</h3>
{% highlight ruby %}
  "Status": "201 Created"

  {
    "schedule": {
      "id": 8090,
      "owner_id": 54,
      "service_id": 4183,
      "resource_id": 267,
      "time_windows": [
        {
          "id": 10536,
          "start_date": "2014-11-01",
          "end_date": "2015-01-31",
          "start_time": "4pm",
          "end_time": "11pm",
          "total_minutes": 420,
          "recurs_by": "weekly",
          "days": ["monday", "wednesday", "friday"],
          "frequency": "every",
          "occurrence": "every",
          "date_recurs_by": null,
          "negation": false
        }
      ]
    }
  }
{% endhighlight %}
</section>
<section class='anchor-container push-down' id='step_4'>
  <h4>Step 4 &ndash; Check available time slots!</h4>
  <p>Now that our Schedule has been created for our “LSAT/MCAT Tutoring” Service, lets check what our available bookable time slots are on November 3rd:</p>
  <h3 class="green">Request:</h3>
{% highlight ruby %}
GET http://beta.gonebusy.com/api/v1/services/4183/available_slots.json?date=11-03-2014
{% endhighlight %}
  <h3 class='green push-down'>Response:</h3>
{% highlight ruby %}
  "Status": "200 OK"

  {
    "service": {
      "id": 4183,
      "owner_id": 54,
      "resources": [
        {
          "id": 267,
          "available_slots": [
            {
              "date": "2014-11-03",
              "slots": [ "2014-11-03T16:00:00Z", "2014-11-03T16:15:00Z",
                "2014-11-03T16:30:00Z", "2014-11-03T16:45:00Z",
                "2014-11-03T17:00:00Z", "2014-11-03T17:15:00Z",
                "2014-11-03T17:30:00Z", "2014-11-03T17:45:00Z",
                "2014-11-03T18:00:00Z", "2014-11-03T18:15:00Z",
                "2014-11-03T18:30:00Z", "2014-11-03T18:45:00Z",
                "2014-11-03T19:00:00Z", "2014-11-03T19:15:00Z",
                "2014-11-03T19:30:00Z", "2014-11-03T19:45:00Z",
                "2014-11-03T20:00:00Z", "2014-11-03T20:15:00Z",
                "2014-11-03T20:30:00Z", "2014-11-03T20:45:00Z",
                "2014-11-03T21:00:00Z", "2014-11-03T21:15:00Z",
                "2014-11-03T21:30:00Z", "2014-11-03T21:45:00Z",
                "2014-11-03T22:00:00Z" ]
            }
          ]
        }
      ]
    }
  }
{% endhighlight %}
</section>
