---
layout: default
---
<base href="/api/">

<!-- Main -->
<section id="main" class="wrapper style3"  ng-controller="TabsController">
    <div class="container">
        <div class="row">
            <div class="8u">
              <h2>API</h2>
              <div ui-view></div>
            </div>
            <div class="4u">
              <section class="side-nav">
                <uib-tabset type="pills" justified="true">
                  <uib-tab heading="Guides">
                    <div class="docs-nav-wrap" ng-repeat="link in guide_links">
                      <li><a ui-sref="{% raw %}{{ link.partial }}{% endraw %}" ui-sref-active="active">{% raw %}{{ link.name }}{% endraw %}</a></li>
                    </div>
                  </uib-tab>
                  <uib-tab heading="Reference">
                    <div class="docs-nav-wrap" ng-repeat="link in reference_links">
                      <li><a ui-sref="{% raw %}{{ link.partial }}{% endraw %}" ui-sref-active="active">{% raw %}{{ link.name }}{% endraw %}</a></li>
                    </div>
                  </uib-tab>
                </uib-tabset>
              </section>
              <section class="forkus align-center">
                <a href="https://github.com/gonebusy/gonebusy.github.io"><img src="../images/octocat.svg"></img></a>
              </section>
            </div>
        </div>
    </div>
</section>
