---
layout: default
title: GoneBusy | API
description: GoneBusy API - A complete guide to all GoneBusy entities, along with a full reference listing of all API endpoints and parameters.
keywords: GoneBusy, booking, platform, api, developers, portal, reference, guide, entities, endpoints, categories, resources, schedules, search, services, users, bookings
---
<!-- Main -->
<section id="main" class="wrapper style3"  ng-controller="TabsController as tabCtrl">
    <div class="container">
        <div class="row">
            <div class="8u">
              <h2 id="top" class="page-heading">API</h2>
              <div ui-view></div>
            </div>
            <div class="4u">
              <section class="protip">
                <p>You can jump right in and explore the GoneBusy API using our <a href="http://sandbox.gonebusy.com/docs/api_sandbox">Swagger UI API Sandbox</a>.</p>
                <ul class="actions align-center">
                  <li><a href="http://sandbox.gonebusy.com/docs/api_sandbox"><i class="protip-icon fa fa-flask"></i></a></li>
                </ul>
              </section>
              <h1>Guides</h1>
              <section class="side-nav">
                <div class="docs-nav">
                  <div class="docs-nav-wrap" ng-repeat="link in guide_links">
                    <li><a ui-sref="{% raw %}{{ link.partial }}{% endraw %}" ui-sref-active="active">{% raw %}{{ link.name }}{% endraw %}</a></li>
                  </div>
                </div>
              </section>
              <h1>Reference</h1>
              <section class="side-nav">
                <div class="docs-nav">
                  <div class="docs-nav-wrap" ng-repeat="link in reference_links">
                    <li><a ui-sref="{% raw %}{{ link.partial }}{% endraw %}" ui-sref-active="active">{% raw %}{{ link.name }}{% endraw %}</a></li>
                  </div>
                </div>
              </section>
              <section class="forkus align-center">
                <a href="https://github.com/gonebusy/gonebusy.github.io">
                  <li><img src="/images/octocat.png" alt="Forkus Octocat"></img></li>
                  <li><img src="/images/fork-us-on.svg" alt="Forkus on GitHub"></img></li>
                  <li><img src="/images/git-hub-logo.svg" alt="Forkus on GitHub"></img></li>
                </a>
              </section>
            </div>
        </div>
    </div>
</section>
