---
layout: default
---

<section id="main" class="wrapper style3">
  <div class="container">
    <div class="row">
      <div class="8u">
        <section>
          {% for post in site.posts %}
          <section class="blog-post">
            <header class="major">
              <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
              <p class="post-date">{{ post.date | date: '%B %-d, %Y' }}</p>
            </header>
            <section>
              {{ post.excerpt }}
            </section>
            <section class="special">
              <ul class="actions align-left">
                <li><a href="{{ site.baseurl }}{{ post.url }}" class="read-more"><p>Read More<i class="fa fa-long-arrow-right"></i></p></a></li>
              </ul>
            </section>
          </section>
          {% endfor %}
        </section>
      </div>
      <div class="4u">
        <h1>Recent Posts</h1>
        <section class="side-nav">
          <div class="docs-nav">
            {% for post in site.posts %}
            <div class="docs-nav-wrap">
              <li>
                <a href="{{ site.baseurl }}{{ post.url }}">
                  <p class="post-link">{{ post.title }}</p>
                  <p class="post-date">{{ post.date | date: '%b %-d, %Y' }}</p>
                </a>
              </li>
            </div>
            {% endfor %}
          </div>
        </section>
              <section class="forkus align-center">
                <a href="https://github.com/gonebusy/gonebusy.github.io">
                  <li><img src="{{ site.baseurl }}/images/octocat.png"></img></li>
                  <li><img src="{{ site.baseurl }}/images/fork-us-on.svg"></img></li>
                  <li><img src="{{ site.baseurl }}/images/git-hub-logo.svg"></img></li>
                </a>
              </section>
      </div>
    </div>
  </div>
</section>
