<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="8u 12u$(medium) float-right">
                <div class="row collapse-at-2">
                    <div class="4u">
                        <ul class="alt">
                            <li><a href="/api">API</a></li>
                            <li><a href="/libraries">Libraries</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="http://beta.gonebusy.com/contact_us">Support</a></li>
                        </ul>
                    </div>
                    <div class="4u">
                        <ul class="alt">
                            <li><a href="https://github.com/gonebusy/gonebusy.github.io">GitHub Repo</a></li>
                            <li><a href="https://github.com/gonebusy/gonebusy.github.io/issues">Submit An Issue</a></li>
                            <li><a href="http://beta.gonebusy.com/contact_us">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="4u">
                        <ul class="alt">
                            <li><a class="green" href="http://beta.gonebusy.com/login" target="_blank">SIGN UP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="4u 12u$(medium) float-left">
                <a href="/" class="site-title" ><img alt="GONEBUSY" src="/images/gone-busy-logo.svg"></a>
                <ul class="icons">
                    <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li><a href="http://beta.gonebusy.com/privacy_policy">Privacy</a></li>
            <li><a href="http://beta.gonebusy.com/terms_and_conditions">Terms and Conditions</a></li>
        </ul>
        <ul class="copyright-light">
          <li>GoneBusy &copy; 2016. All rights reserved.</li>
        </ul>
    </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61437504-2', 'auto');
  ga('send', 'pageview');

</script>
