<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="4u">
                <a href="{{ site.baseurl }}/" class="site-title" ><img alt="GONEBUSY" src="{{ site.baseurl }}/images/gone-busy-logo.svg"></a>
                <ul class="icons">
                    <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                </ul>
            </div>
            <div class="8u">
                <div class="row collapse-at-2">
                    <div class="4u">
                        <ul class="alt">
                            <li><a href="{{ site.baseurl }}/api">API</a></li>
                            <li><a href="{{ site.baseurl }}/libraries">Libraries</a></li>
                            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                            <li><a href="http://beta.gonebusy.com/contact_us">Support</a></li>
                        </ul>
                    </div>
                    <div class="4u">
                        <ul class="alt">
                            <li><a href="https://github.com/gonebusy/gonebusy.github.io">GitHub Repo</a></li>
                            <li><a href="https://github.com/gonebusy/gonebusy.github.io/issues">Submit An Issue</a></li>
                            <li><a href="http://beta.gonebusy.com/contact_us">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="4u">
                        <ul class="alt">
                            <li><a class="green" href="#">SIGN UP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul class="copyright">
            <li><a href="http://beta.gonebusy.com/privacy_policy">Privacy</a></li>
            <li><a href="http://beta.gonebusy.com/terms_and_conditions">Terms and Conditions</a></li>
        </ul>
        <ul class="copyright-light">
          <li>GoneBusy &copy; 2016. All rights reserved.</li>
        </ul>
    </div>
</footer>
