<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords }}" />
    <meta property="og:image" content="http://gonebusy.github.io/images/favicon-200.png" />
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="/images/favicon_144px.png" rel="apple-touch-icon" type="image/png">
    <!--[if lte IE 8]><script src="javascripts/html5shiv.js"></script><![endif]-->
    <script
       src="https://code.jquery.com/jquery-3.1.0.min.js"
       integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
       crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.4.js"></script>
    <script src="/javascripts/skel.min.js"></script>
    <script src="/javascripts/skel-layers.min.js"></script>
    <script src="/javascripts/angular-init.js"></script>
    <script src="/javascripts/init.js"></script>
    <!-- link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-dropdowns.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-tabs.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-alerts.css" />
    <link rel="stylesheet" href="/stylesheets/skel.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style-xlarge.css" />
</head>
