<!-- Header -->
<header id="header">
  <div class="logo">
    <a href="/" class="site-title" ><img alt="Gonebusy" src="/images/gb-logo-inv.png"></a>
  </div>
  <div id="menu-icon" class="below-medium">
    <a href="#mobile_nav"><i class="fa fa-bars"></i></a>
  </div>
  <nav id="nav" ng-controller="DropdownController">
    <ul class="links">
      <li><a href="https://beta.gonebusy.com/pricing">Pricing</a></li>
      {% for link in site.data.navigation %}
        {% assign current = nil %}
        {% assign current_page = page.url|remove:'.html' %}
        {% if current_page == link.url %}
          {% assign current = 'active' %}
        {% endif %}
      <li class="{{ current }}">
        <a href="{{link.url}}" title="{{link.title}}">{{link.text}}</a>
      </li>
      {% endfor %}
      <li><a href="https://beta.gonebusy.com/contact_us">Support</a></li>
      <li uib-dropdown is-open="status.isopen">
        <a uib-dropdown-toggle ng-disabled="disabled">Log In <i class="fa fa-caret-down"></i></a>
        <ul uib-dropdown-menu role="menu">
          <li class="top" role="menuitem"><a href="https://sandbox.gonebusy.com/login">Sandbox</a></li>
          <li class="bottom" role="menuitem"><a href="https://beta.gonebusy.com">Production</a></li>
        </ul>
      </li>
      <li class="above-medium"><a href="https://beta.gonebusy.com/login" class="button alt" target="_blank">Sign Up</a></li>
      <li class="below-medium"><a href="https://beta.gonebusy.com/login" class="button big special" target="_blank">Sign Up</a></li>
    </ul>
  </nav>
</header>
