// We use these to define default font stacks
$font-family-sans-serif: "Montserrat-Regular", CenturyGothic, sans-serif;
$font-family-serif: "Enriqueta-Regular", CenturyGothic, sans-serif;
$font-family-sans-serif-bold: "Montserrat-Bold", CenturyGothic, sans-serif;
$font-family-serif-bold: "Enriqueta-Bold", CenturyGothic, sans-serif;
// $font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;
$font-family-api: Lato, sans-serif;

// We use these to define default font weights
// $font-weight-normal: normal !default;
// $font-weight-bold: bold !default;

$white       : #FFFFFF;
$purple      : #990066;
$light-purple  : #B92866;
$green       : #28B97B;
$light-green : #76D2AB;
$dark-green  : #14892C;
$turqoise    : $green;
// $turqoise    : #00CC99;
$dark-blue   : #006599;
$light-blue  : #3399CC;
$lighter-blue  : #4CC6E3;
$orange      : #FF6600;
$red         : #DF2929;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #DEDEDE;
$white-smoke : #F5F5F5;
// $silver      : #EFEFEF;
$smoke       : #EEEEEE;
$jazz           : #D2D2D2;
// $gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
// $aluminum    : #999999;
$jumbo       : #888888;
// $monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #343434;
$jet         : #222222;
$black       : #000000;
$seashell       : #EEE5DE;
$burntsienna    : #880000;

$hp-light-green : #eaf8f2;
$hp-light-blue : #e4f6fb;
$protip-green : #209462;
$facebook-blue: #3b5998;
$github-black: #262626;
$twitter-blue: #55acee;