<!DOCTYPE html>
<html  ng-app="gb.docs">

    {% include /head.html %}

    <body id="top" style="display:none;">
      <noscript>
        <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/skel.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/style.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/style-xlarge.css" />
      </noscript>

        {% include /header.html %}

        {{ content }}

        {% include /footer.html %}

    </body>

</html>
