<!DOCTYPE html>
<html ng-app="gb.docs">

  {% include /head.html %}

  <body id="top" style="display:none;">

    {% include /header.html %}

    <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <div class="row">
          <div class="12u">
            <h2>Book All The Things!</h2>
            <p>Integrate with the only Booking platform you need.</p>
            <p>For any business or social activity.</p>
            <p>Fully automated, feature rich.</p>
            <p>No hidden fees.</p>
        </div>
        </div>
        <div class="row">
          <div class="-3u 6u 12u$(medium)">
            <div class="row">
              <div class="6u 12u$(medium)">
                <a href="/api" class="button big alt">Browse The Docs</a>
              </div>
              <div class="6u 12u$(medium)">
                <a href="/api#/getting_started" class="button big special">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{ content }}
    {% include /footer.html %}

  </body>

</html>
